.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
}

.title {
  font-size: 11vw;
  font-weight: bold;
  letter-spacing: -0.05em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(170, 170, 170);
}

@media (min-width: 768px) {
  .title {
    font-size: 12vw;
  }
}

.char {
  display: inline-block;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  animation: flicker 3s infinite;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.3;
  }
}

/* 1文字ずつの遅延を手動で設定（ミスマッチを防ぐため） */
.char:nth-child(1) {
  animation-delay: 0.1s;
}
.char:nth-child(2) {
  animation-delay: 0.7s;
}
.char:nth-child(3) {
  animation-delay: 0.3s;
}
.char:nth-child(4) {
  animation-delay: 1.1s;
}
.char:nth-child(5) {
  animation-delay: 0.5s;
}
.char:nth-child(6) {
  animation-delay: 0.9s;
}
.char:nth-child(7) {
  animation-delay: 0.2s;
}
.char:nth-child(8) {
  animation-delay: 1.4s;
}
